<% provide(:title, "Home")%>
<% provide(:imageName, "photo.JPG")%>
<% provide(:imageLink, "http://www.usa.gov/")%>
<% provide(:imageAlt, "US")%>
<% provide(:header, "Data Structures")%>

<p>Data Structures are an intergral part of every programmer's life. Imagine not being able to store data in arrays, or classes. That is what life would be like without datastructures.
</p>
<p>
	On this website we give homage to a few of our favorite data structures that have made our lives so much easier.
</p>
<p>
	First the hash maps that have hashed so many string based IDs. Then the Binary trees famous for their logn traversals. Finally our favorite the Sparse Matrix. We can't even begin to describe its amazing functionality.
	</p>
<p>
	If you wish to learn more about these amazing pieces of code. Continue to their dedicated pages listed on the main menu above. There you will find more in depth descriptions and pictures.
</p>
