@import "bootstrap-sprockets";
@import "bootstrap";

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

footer {
	padding-top:20px;
	border-top:3px solid black;
	margin-top:15px; 
}

#wc {
	padding-top:10px;

	border-top:3px solid black;
}